@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,900&display=swap');
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Work Sans', sans-serif;
}
/* memr area strat */
.menu {
    margin: auto; 
    text-align: center;
}
.menu ul{
    display: block;
    margin: auto;
    list-style: none;
    margin: 10px 0;
}
.menu ul li{
    display: inline-block;
    padding:10px 15px;
    border-radius: 5px;
    background: #48dbfb;
    transition: all 0.5s;
}
.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    position: relative;
    padding:5px;
}
.menu ul li a::before {
	content:"";
	position: absolute;
	bottom: -3px;
	left: 0;
	width:0;
	height: 4px;
	background: #000;
      transition: all 0.6s;
}
.menu ul li:hover{
      background: none;
}
.menu ul li:hover a::before{
      width: 100%;
      background:#fff;
}
/* memr area end */
/* hero area */
.hero-area{
      background: cover no-repeat center;
      background-color: #48dbfb;
      padding:100px 0;
}
.hero-content{
      text-align: center;

}
.hero-content p {
	font-size: 25px;
	font-weight: bold;
	color: #fff;
}
.hero-content h1 {
	font-size: 56px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 35px;
}
.hero-content button {
	border: none;
	padding: 16px 25px;
	border-radius: 5px;
	color: #928c8c;
      position: relative;
      z-index: 1;
}
.hero-content button::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background:#000;
      width:0;
      height: 100%;
      z-index: -1;
      transition: all 0.5s;
}
.hero-content button:hover::before{
      width: 100%;
}
/* hero area end */
.main-top-content {
	text-align: center;
	padding: 90px 0 33px 0;
}
.main-top-content h2 {
	font-size: 35px;
	font-weight: bold;
}
.main-button-content {
	padding-top: 120px;
}
.img-area{
      width: 90%;
      margin: auto;
}
.img-wraper{
      text-align: center;
}
.img-wraper .img{
      width:19%;
      margin:2.5%;
      display: inline-block;
      overflow: hidden;
      
}
.img-wraper img{
      width:100%;
      display: inline-block;
}
img{
      transition: all 0.5s;
}
.trnsfr-1 img:hover{
      transform: rotate(360deg);
}
.trnsfr-2 img:hover{
      transform:scale(1.2) rotate(45deg);
}
.trnsfr-3 img:hover{
      transform:scale(1.2) rotate(-45deg);
}
.trnsfr-4 img:hover{
      transform:scale(1.2) rotate(-45deg);
}
.trnsfr-5 img:hover{
      transform:scale(1.2) rotate(45deg);
}
.trnsfr-6 img:hover{
      transform:scale(1.2) rotate(360deg);
}
.trnsfr-7 img:hover{
      transform:scale(1.2)
}
.trnsfr-8 img:hover{
      transform:scale(1.2)
}
.conten-wraper {
	text-align: center;
	width: 83%;
	margin: auto;
}
.conten-wraper h3 {
      font-weight: 500;
	font-size: 50px;
	padding: ;
	padding-bottom: 20px;
}
.animation-btn {
	width: 60%;
	margin: auto;
      padding-top: 40px;
}
.step{
      width: 30%;
      display: inline-block;
      box-sizing: border-box;
}
.step span {
      display: inline-block;
	background: #000;
	color: #fff;
	padding: 13px 30px;
      box-sizing: border-box;
}
.step-1 span {
      font-weight: bold;
	transform: rotate(-42deg);
      transition: all 0.5s;
}
.step-1 span:hover{
      transform: rotate(0deg);
      background:#48dbfb;
      color:#000;
      font-weight: bold;
      transform:scale(1.3);
}
.step-2{
      text-align: center;
      
}
.step-2 span{
      transition: all 0.5s;
      font-weight: bold;
}
.step-2 span:hover{
      transform:scale(1.3);
      background:#48dbfb;
      color:#000;
}
.step-3{
      text-align: right;
}
.step-3 span{
      transform:rotate(42deg);
      font-weight: bold;
      transition: all 0.5s;
}
.step-3 span:hover{
      transform: rotate(0deg);
      background:#48dbfb;
      color:#000;
      transform:scale(1.3);
}
footer{
      background:#222225;
      padding:20px 0;
      color:#fff;
      text-align: center;
      margin-top:50px
}